<div class="row">
    <div class="col-12 text-right mt-5">
        <button routerLink="/products/addProduct" mat-raised-button color="primary">Add Product</button>
    </div>
    <div class="col-md-4">
    <ul class="list-group" *ngIf="getProductsArr.length > 0; else noProducts">
        <li class="list-group-item" *ngFor="let product of getProductsArr; trackBy : trackByFun"
        [routerLink]="[product.pid]"
        [queryParams]="{cr : product.canReturn}"
        >
            {{product.pname}}
            <small class="badge" [ngClass]="{
                'badge-primary' : product.pstatus === 'Dispatched',
                'badge-success' : product.pstatus === 'Delivered',
                'badge-warning' : product.pstatus === 'In-Progress'
            }">
                {{product.pstatus}}
            </small>
        </li>
    </ul>
    <ng-template #noProducts>
        <p class="alert alert-info">
            No Products !!!
        </p>
    </ng-template>
</div>
<div class="col-md-8">
    Product Details
</div>
</div>
