
    <div class="card">
        <div class="card-body">
            <h3>{{isInEditMode? 'Update Product': 'Add Product'}}</h3>
            <form [formGroup]="productForm" (ngSubmit)="onAdd()">
                <div class="form-group">
                    <label for="pname">Product Name*</label>
                    <input formControlName="pname" type="text" class="form-control">
                </div>
                <div class="form-group">
                    <label for="pstatus">Product Status*</label>
                    <select formControlName="pstatus" class="form-control">
                        <option value="In-Progress">In-Progress</option>
                        <option value="Dispatched">Dispatched</option>
                        <option value="Delivered">Delivered</option>
                    </select>
                </div>
                <div class="form-group">
                    <label for="canReturn">Product Can Return*</label>
                    <select type="text" id="canReturn" formControlName="canReturn" class="form-control">
                        <option [ngValue]="1">Yes</option>
                        <option [ngValue]="0">No</option>
                    </select>
                </div>
                <button 
                *ngIf="!isInEditMode"
                mat-raised-button color="primary" type="submit" class="btn-block">Add Product</button>
                <button
                [disabled]="disableUpdateBtn"
                (click)="onUpdate()"
                *ngIf="isInEditMode"
                mat-raised-button color="warn" type="button" class="btn-block">Update Product</button>
            </form>
        </div>
    </div>